<section class="grid-70-30">
  <!-- cart box chiễm 70% -->
  <div class="cart-box br">
    <h1 class="mt-4" style="text-align: center;">Giỏ hàng </h1>
    <div class="cart-all">
      <!--  -->
    
        

     

      <!--  -->
    </div>
  </div>


  <!-- cart right chiễm 30% -->
  <div class="cart-right ">

    <div class="absolute-center">
      <h1>Tổng đơn hàng</h1>
      <div class="banhSN-content_h2 "></div>
      <a routerLink="/check-out"><button class="add btn-primary mt-4">Thanh toán</button></a>
      <!-- <a href="index.php?page=checkout"><button class="add margin-0">Thanh toán</button></a> -->

    </div>


    <a href="#"><button class="absolute-bottom ">Xóa tất cả</button></a>
  </div>
</section>