<section class=" bb" style="height: auto;">
  <!-- start div about-left -->
  <div class="about-left padding-top-bottom">
  <!-- start div about-left -->
  
      <div class="login-box bd-all">
        
    
        <h2>Đăng Ký</h2>
        
        <form  id="formSignUp"   >
          <div class="form">
            <label>Họ tên</label>
            
              
              <input class="input " id="username" name="username"  type="text">
              <span class="input-border"></span>
            
            <span  class="eror"></span>
          </div>
         
          <div class="form mt-4">
            <label>Email</label>
            <input class="input" id="email" name="email" >
            <span class="input-border"></span>
            <span  class="eror" ></span>
  
          </div>
  
          <!-- <div class="form mt-4">
            <label>Số điện thoại</label>
            <input class="input" id="phone" name="phone"   type="number">
            <span class="input-border"></span>
            <span  class="eror" ></span>
  
          </div> -->
  
          
  
          <div class="form mt-4">
            <label>Mat Khau</label>
            <input class="input" id="pass" name="pass"   type="password">
            <span class="input-border"></span>
            <span  class="eror" ></span>
  
          </div>
  
         
  
            
  
          <button type="submit"   class="add btn-primary mt-6">Đăng Ký</button>
        </form>
  
       
      </div>
  
      <div>
        <h3 class="mt-6 text-center">Đã có tài khoản</h3>
         <a class="add mt-6" [routerLink]="['/register']">Đăng nhập</a>
         
       </div>
  <!-- end div about-left -->
  </div>
  <!-- end div about-left -->
  
          </section>