<footer class="footer relative bt">
  <div class="footer-ul">
    <div class="footer-ul-list grid-3"> <!--chia cột -->
      <div class="footer-ul-list-item">  <!--Phần tử-->
        <div class="footer-ul-list_first">MENU</div>
        <ul>
          <li>Về Ipun</li>
          <li>Sản phẩm</li>
          <li>Cách mua hàng</li>
          <li>Câu hỏi thường gặp</li>
        </ul>
      </div>
      <div class="footer-ul-list-item"> <!--Phần tử-->
        <div class="footer-ul-list_first">HOTLINE</div>
        <ul>
          <li></li>
        </ul>
      </div>
      <div class="footer-ul-list-item"> <!--Phần tử-->
        <div class="footer-ul-list_first">FOLLOW US ON</div>
        <ul>
          <li></li>
        </ul>
      </div>
    </div>
    
  </div>

  <div class="footer-logo" (click)="myFunction()">
     
    <img src="../assets/images/IPUN.svg" alt="" width="100%">
  </div>
</footer>

