<h1>Thông tin người đặt hàng</h1>
<!-- Form nhập thông tin của người mua -->
<div >
  <div class="form">
    <input title="Điền họ tên" class="input" placeholder="Họ tên"  [value]="user?  user.name : '' " type="text">
    <span class="input-border"></span>
  </div>

  <div class=" mt-6 grid-60-30-gap">
    <div class="form">
      <input class="input" placeholder="Email" name="email" [value]="user?  user.email: '' " required="" type="text">
      <span class="input-border"></span>
    </div>
    <div class="form ">
      <input class="input" placeholder="Số điện thoại" name="phone"[value]=" user? user.phone : '' " required="" type="number">
      <span class="input-border"></span>
    </div>
  </div>

  <div class="form mt-6">
    <input class="input" placeholder="Địa chỉ" [value]="user? user.address : '' " name="diachi" required="" type="text">
    <span class="input-border"></span>
  </div>

</div>