<section class="" style="height: auto;">
  <div class="about-left padding-top-bottom">



    <form  [formGroup]="loginForm"  (ngSubmit)="login()" class="login-box bd-all">

      <h2>Đăng Nhập</h2>

      <div   >
       
       
        <div class="form mt-4">
          <label>Email</label>
          <input class="input" formControlName="email"  required >
          <span class="input-border"></span>
         
        </div>

        

        

        <div class="form mt-4">
          <label>Mat Khau</label>
          <input class="input" id="pass" formControlName="pass" type="pass" required>
          <span class="input-border"></span>
         <div></div>
        </div>

          
        <p-toast />
        <button  type="submit" [disabled]="loginForm.invalid" class="add btn-primary mt-6">Đăng Nhập</button>
      </div>
      <div>
        <h3 class="mt-6 text-center">Chưa có tài khoản? <a href="forgotPass.html">Quên mật khẩu</a></h3>
        <a class="add mt-6" [routerLink]="['/register']">Đăng Ký</a>
        
        
        
      </div>
      <div>
        
        
      </div>
    </form>
  </div>
</section>